Node-RED/Lab Code/exercise8-2.json
[{"id":"894581be3c5976fd","type":"tab","label":"Exercise 8-2","disabled":false,"info":"","env":[]},{"id":"42c7c34222ea2f61","type":"chatbot-telegram-receive","z":"894581be3c5976fd","bot":"e145681d1fc7e143","botProduction":"","x":190,"y":160,"wires":[["bf31dc6bb7e185d2","de8e3f16f9d80443"]]},{"id":"890738ca2737fd7d","type":"chatbot-telegram-send","z":"894581be3c5976fd","bot":"e145681d1fc7e143","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":870,"y":140,"wires":[]},{"id":"bf31dc6bb7e185d2","type":"debug","z":"894581be3c5976fd","name":"Show Incoming Msg!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":120,"wires":[]},{"id":"de8e3f16f9d80443","type":"function","z":"894581be3c5976fd","name":"Compute Answer","func":"if (msg.payload.content==\"What's your name?\") {\n    msg.payload.content = \"I am the NSDS Telegram Bot!\";\n    delete msg.ts;\n    delete msg.transport;\n    msg.payload.inbound = false;\n    msg.payload.fallback = null;\n    return [ msg, null, null, null ];\n} if (msg.payload.content.startsWith(\"My name is\")) {\n    let username = msg.payload.content.substring(11);\n    msg.payload.content = \"Hello \" + username +\"!\";\n    delete msg.ts;\n    delete msg.transport;\n    msg.payload.inbound = false;\n    msg.payload.fallback = null;\n    let fileMsg = {\n        payload: username,\n    };\n    return [ msg, null, null, fileMsg]; \n} else if (msg.payload.content == \"What's the temperature in Milan?\") {\n    return [ null, msg, null, null ];\n} else if (msg.payload.content == \"What's the temperature in Rome?\") {\n    return [ null, null, msg, null ];\n} else {\n    msg.payload.content = \"I don't get what you're asking...\";\n    delete msg.ts;\n    delete msg.transport;\n    msg.payload.inbound = false;\n    msg.payload.fallback = null;\n    return [msg, null, null, null ];\n}\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":340,"wires":[["890738ca2737fd7d"],["92fe5eac7dfed643"],["4cdb231694970732"],["1c01634a2d411a02","b63e04577027e029"]]},{"id":"92fe5eac7dfed643","type":"openweathermap","z":"894581be3c5976fd","name":"Milano's Weather","wtype":"current","lon":"","lat":"","city":"Milan","country":"IT","language":"en","x":490,"y":300,"wires":[["30c00590f4157922","6ce5abd0fc892dcf"]]},{"id":"4cdb231694970732","type":"openweathermap","z":"894581be3c5976fd","name":"Rome's Weather","wtype":"current","lon":"","lat":"","city":"Rome","country":"IT","language":"en","x":460,"y":420,"wires":[["30c00590f4157922","6ce5abd0fc892dcf"]]},{"id":"30c00590f4157922","type":"debug","z":"894581be3c5976fd","name":"Show Weather!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":500,"wires":[]},{"id":"6ce5abd0fc892dcf","type":"chatbot-message","z":"894581be3c5976fd","name":"Compose Message","message":[{"message":"The temperature in {{payload.location}} is {{payload.tempc}}! "}],"language":"none","x":710,"y":320,"wires":[["890738ca2737fd7d"]]},{"id":"1c01634a2d411a02","type":"file","z":"894581be3c5976fd","name":"Append to User Log","filename":"userlog.bot","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":460,"y":540,"wires":[[]]},{"id":"b63e04577027e029","type":"debug","z":"894581be3c5976fd","name":"Dumping to File","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":620,"wires":[]},{"id":"e145681d1fc7e143","type":"chatbot-telegram-node","botname":"Node-RED Lab","usernames":"","polling":"1000","store":"","log":"","debug":false,"skipMediaFiles":false,"webHook":"","connectMode":"polling","storeMessages":true,"enableMissionControl":false,"inspectMessages":true,"chatbotId":""}]