Node-RED/Lab Code/exercise5.json
[{"id":"227eb15c.8af2e6","type":"tab","label":"Exercise 5","disabled":false,"info":""},{"id":"220fab8c23bf4b81","type":"openweathermap","z":"227eb15c.8af2e6","name":"Milano's Weather","wtype":"current","lon":"","lat":"","city":"Milan","country":"IT","language":"en","x":730,"y":360,"wires":[["593b50a0c8c5387d","c8509a3f9e9bd5b3"]]},{"id":"0231ede09b96cd1d","type":"inject","z":"227eb15c.8af2e6","name":"Trigger Every 1 min","props":[],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":500,"y":300,"wires":[["220fab8c23bf4b81","449a055aff4fb193"]]},{"id":"593b50a0c8c5387d","type":"debug","z":"227eb15c.8af2e6","name":"Show Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":360,"wires":[]},{"id":"e62e5daf434b52c4","type":"file","z":"227eb15c.8af2e6","name":"Add to Log","filename":"temperatureLog.data","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1030,"y":220,"wires":[[]]},{"id":"c8509a3f9e9bd5b3","type":"function","z":"227eb15c.8af2e6","name":"Slice, Take only TempC","func":"let newMsg = { \n    topic: msg.topic,\n    payload: msg.payload.tempc,   \n    _msgid: msg._msgid,\n};\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":300,"wires":[["e62e5daf434b52c4"]]},{"id":"449a055aff4fb193","type":"file in","z":"227eb15c.8af2e6","name":"Read Log","filename":"temperatureLog.data","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":650,"y":480,"wires":[["91aee46f1b468d35"]]},{"id":"91aee46f1b468d35","type":"debug","z":"227eb15c.8af2e6","name":"Show Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":480,"wires":[]}]