Node-RED/Lab Code/exercise8-1.json
[{"id":"aaf092f8d6709835","type":"tab","label":"Exercise 8-1","disabled":false,"info":"","env":[]},{"id":"2ad8c992d3307b27","type":"chatbot-telegram-receive","z":"aaf092f8d6709835","bot":"e145681d1fc7e143","botProduction":"","x":210,"y":120,"wires":[["d38838ebb8deb128","26069f5bee52f940"]]},{"id":"ef41e3e0022ff573","type":"chatbot-telegram-send","z":"aaf092f8d6709835","bot":"e145681d1fc7e143","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1010,"y":220,"wires":[]},{"id":"d38838ebb8deb128","type":"debug","z":"aaf092f8d6709835","name":"Show Incoming Msg!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":160,"wires":[]},{"id":"26069f5bee52f940","type":"function","z":"aaf092f8d6709835","name":"Compute Answer","func":"if (msg.payload.content==\"What's your name?\") {\n    msg.payload.content = \"I am the NSDS Telegram Bot!\";\n    delete msg.ts;\n    delete msg.transport;\n    msg.payload.inbound = false;\n    msg.payload.fallback = null;\n    return [ msg, null, null ];\n} else if (msg.payload.content == \"What's the temperature in Milan?\") {\n    return [ null, msg, null ];\n} else if (msg.payload.content == \"What's the temperature in Rome?\") {\n    return [null, null, msg ];\n} else {\n    msg.payload.content = \"I don't get what you're asking...\";\n    delete msg.ts;\n    delete msg.transport;\n    msg.payload.inbound = false;\n    msg.payload.fallback = null;\n    return [msg, null, null ];\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":300,"wires":[["ef41e3e0022ff573"],["b2541ba05685fe4d"],["a4ce5f16d25d6147"]]},{"id":"b2541ba05685fe4d","type":"openweathermap","z":"aaf092f8d6709835","name":"Milano's Weather","wtype":"current","lon":"","lat":"","city":"Milan","country":"IT","language":"en","x":530,"y":320,"wires":[["368c72f420faf43f","41d1df062f3c52c5"]]},{"id":"a4ce5f16d25d6147","type":"openweathermap","z":"aaf092f8d6709835","name":"Rome's Weather","wtype":"current","lon":"","lat":"","city":"Rome","country":"IT","language":"en","x":440,"y":460,"wires":[["368c72f420faf43f","41d1df062f3c52c5"]]},{"id":"368c72f420faf43f","type":"debug","z":"aaf092f8d6709835","name":"Show Weather!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":460,"wires":[]},{"id":"41d1df062f3c52c5","type":"chatbot-message","z":"aaf092f8d6709835","name":"Compose Message","message":[{"message":"The temperature in {{payload.location}} is {{payload.tempc}}! "}],"language":"none","x":830,"y":360,"wires":[["ef41e3e0022ff573"]]},{"id":"e145681d1fc7e143","type":"chatbot-telegram-node","botname":"Node-RED Lab","usernames":"","polling":"1000","store":"","log":"","debug":false,"skipMediaFiles":false,"webHook":"","connectMode":"polling","storeMessages":true,"enableMissionControl":false,"inspectMessages":true,"chatbotId":""}]