Node-RED/Lab Code/exercise2.json
[{"id":"2fcba27dcdbb6806","type":"tab","label":"Exercise 2","disabled":false,"info":"","env":[]},{"id":"2f37a5df784df3e2","type":"inject","z":"2fcba27dcdbb6806","name":"Hello World!","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"cc","v":"lmottola@gmail.com","vt":"str"},{"p":"to","v":"luca.mottola@polimi.it","vt":"str"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"My Own Subject","payload":"Hello World","payloadType":"str","x":261,"y":212,"wires":[["d44387378759870d"]]},{"id":"709515faab728100","type":"debug","z":"2fcba27dcdbb6806","name":"Print Msg!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":554,"y":360,"wires":[]},{"id":"e14178cb2ed771aa","type":"e-mail","z":"2fcba27dcdbb6806","server":"smtps.aruba.it","port":"465","secure":true,"tls":true,"name":"","dname":"Send Mail!","x":608,"y":204,"wires":[]},{"id":"d44387378759870d","type":"function","z":"2fcba27dcdbb6806","name":"Process Msg","func":"let temp = msg.to;\nmsg.to = msg.cc;\nmsg.cc = temp;\n\nmsg.payload = msg.payload + \" \" + msg.to + \"!\";\n\nif (msg.timestamp % 2==0) {\n    return [ null, msg];\n} else {\n    return [ msg, null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":277,"wires":[["e14178cb2ed771aa"],["709515faab728100"]]}]