Node-RED/Lab Code/exercise7.json
[{"id":"227eb15c.8af2e6","type":"tab","label":"Exercise 7","disabled":false,"info":""},{"id":"e436a005e701a8e6","type":"mqtt in","z":"227eb15c.8af2e6","name":"Subscribe to /smartcity/milan","topic":"/smartcity/milan","qos":"2","datatype":"auto-detect","broker":"8096cf17.b81cf8","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":240,"wires":[["55bd26f10a6cdfa5","f2503909fdf90ee4"]]},{"id":"55bd26f10a6cdfa5","type":"debug","z":"227eb15c.8af2e6","name":"Show Sensor.commity Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":160,"wires":[]},{"id":"f2503909fdf90ee4","type":"function","z":"227eb15c.8af2e6","name":"Track Max","func":"for (let i = 0; i < msg.payload.sensordatavalues.length; i++){\n    if (msg.payload.sensordatavalues[i].value_type == \"P1\") {\n        if (Number(msg.payload.sensordatavalues[i].value)>context.get(\"maxPM25\")) {\n            context.set(\"maxPM25\", Number(msg.payload.sensordatavalues[i].value));\n        }\n    }\n    if (msg.payload.sensordatavalues[i].value_type == \"P2\") {\n        if (Number(msg.payload.sensordatavalues[i].value) > context.get(\"maxPM10\")) {\n            context.set(\"maxPM10\", Number(msg.payload.sensordatavalues[i].value));\n        }\n    }\n    if (msg.payload.sensordatavalues[i].value_type == \"temperature\") {\n        if (Number(msg.payload.sensordatavalues[i].value) > context.get(\"maxTemperature\")) {\n            context.set(\"maxTemperature\", Number(msg.payload.sensordatavalues[i].value));\n        }\n    }\n    if (msg.payload.sensordatavalues[i].value_type == \"humidity\") {\n        if (Number(msg.payload.sensordatavalues[i].value) > context.get(\"maxHumidity\")) {\n            context.set(\"maxHumidity\", Number(msg.payload.sensordatavalues[i].value));\n        }\n    }\n}\n\nlet newPayload = {\n    maxTemperature: context.get(\"maxTemperature\"),\n    maxHumidity: context.get(\"maxHumidity\"),\n    maxPM25: context.get(\"maxPM25\"),\n    maxPM10: context.get(\"maxPM10\"),\n};\n\nlet newMsg = { \n    topic: msg.topic, \n    payload: newPayload, \n    _msgid: msg._msgid, \n    };\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"maxTemperature\", 0);\ncontext.set(\"maxHumidity\", 0);\ncontext.set(\"maxPM25\", 0);\ncontext.set(\"maxPM10\", 0);\n","finalize":"","libs":[],"x":890,"y":340,"wires":[["d475bd15c8c5a2aa"]]},{"id":"d475bd15c8c5a2aa","type":"debug","z":"227eb15c.8af2e6","name":"Show Current Max","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":420,"wires":[]},{"id":"8096cf17.b81cf8","type":"mqtt-broker","name":"","broker":"mqtt.neslab.it","port":"3200","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]