Node-RED/Lab Code/exercise6.json
[{"id":"54c03fe2654a32e0","type":"tab","label":"Exercise 6","disabled":false,"info":"","env":[]},{"id":"48897e3db2f55e25","type":"function","z":"54c03fe2654a32e0","name":"Compose Object","func":"let newPayload = {\n    message: \"The weather in Milano is\",\n    temperature: msg.payload.tempc,\n};\n\nlet newMsg = { \n    topic: msg.topic,  \n    payload: newPayload,   \n    _msgid: msg._msgid,    \n};\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":220,"wires":[["66a6a9db456cea96"]]},{"id":"680fc5efd10a8656","type":"inject","z":"54c03fe2654a32e0","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":167,"y":153,"wires":[["76cf10f629f4b35b"]]},{"id":"66a6a9db456cea96","type":"json","z":"54c03fe2654a32e0","name":"Convert to JSON","property":"payload","action":"str","pretty":false,"x":453,"y":318,"wires":[["8a12812287fb22ee","845553565cfde259"]]},{"id":"8a12812287fb22ee","type":"udp out","z":"54c03fe2654a32e0","name":"Send","addr":"127.0.0.1","iface":"","port":"7779","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":790,"y":280,"wires":[]},{"id":"c7f8d10403966c0a","type":"debug","z":"54c03fe2654a32e0","name":"Show Weather Info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"76cf10f629f4b35b","type":"openweathermap","z":"54c03fe2654a32e0","name":"Weather in Milan","wtype":"current","lon":"","lat":"","city":"Milan","country":"IT","language":"en","x":490,"y":100,"wires":[["c7f8d10403966c0a","48897e3db2f55e25"]]},{"id":"085f02950deb76b1","type":"debug","z":"54c03fe2654a32e0","name":"Show Received Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":440,"wires":[]},{"id":"6bad60aced77ee7d","type":"udp in","z":"54c03fe2654a32e0","name":"Receive","iface":"","port":"5555","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":170,"y":440,"wires":[["75cdbaaf987d4e7e"]]},{"id":"75cdbaaf987d4e7e","type":"json","z":"54c03fe2654a32e0","name":"Convert to JS","property":"payload","action":"obj","pretty":false,"x":400,"y":440,"wires":[["085f02950deb76b1"]]},{"id":"845553565cfde259","type":"debug","z":"54c03fe2654a32e0","name":"Show Sent Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":220,"wires":[]}]