Node-RED/Lab Code/exercise1.json
[{"id":"e06805297e78950e","type":"tab","label":"Exercise 1","disabled":false,"info":""},{"id":"20f9b5c22a82e2f1","type":"inject","z":"e06805297e78950e","name":"Hello World!","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"cc","v":"lmottola@gmail.com","vt":"str"},{"p":"to","v":"luca.mottola@polimi.it","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"My Own Subject","payload":"Hello World!","payloadType":"str","x":280,"y":200,"wires":[["f889cc8a670e909c"]]},{"id":"24380507a326038a","type":"debug","z":"e06805297e78950e","name":"Print Msg!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":200,"wires":[]},{"id":"f889cc8a670e909c","type":"delay","z":"e06805297e78950e","name":"Limit 1msg/5min","pauseType":"rate","timeout":"5","timeoutUnits":"days","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":410,"y":300,"wires":[["d1709360c2819826","24380507a326038a"]]},{"id":"d1709360c2819826","type":"e-mail","z":"e06805297e78950e","server":"smtps.aruba.it","port":"465","secure":true,"tls":true,"name":"","dname":"Send Mail!","x":690,"y":260,"wires":[]}]