Node-RED/Lab Code/exercise3.json
[{"id":"942cd3c6571913c2","type":"tab","label":"Exercise 3","disabled":false,"info":"","env":[]},{"id":"e67aba63ed6b9769","type":"inject","z":"942cd3c6571913c2","name":"Hello World!","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"cc","v":"lmottola@gmail.com","vt":"str"},{"p":"to","v":"luca.mottola@polimi.it","vt":"str"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"My Own Subject","payload":"Hello World","payloadType":"str","x":255,"y":183,"wires":[["abdbc6ca90010f86"]]},{"id":"c565b3392d60f4b7","type":"debug","z":"942cd3c6571913c2","name":"Print Msg!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":548,"y":331,"wires":[]},{"id":"6141ebab5037dc37","type":"e-mail","z":"942cd3c6571913c2","server":"smtps.aruba.it","port":"465","secure":true,"tls":true,"name":"","dname":"Send Mail!","x":602,"y":175,"wires":[]},{"id":"abdbc6ca90010f86","type":"function","z":"942cd3c6571913c2","name":"Process Msg","func":"let temp = msg.to;\nmsg.to = msg.cc;\nmsg.cc = temp;\n\ncontext.set(\"firstTimestamp\", context.get(\"secondTimestamp\"));\ncontext.set(\"secondTimestamp\", context.get(\"thirdTimestamp\"));\ncontext.set(\"thirdTimestamp\", msg.timestamp);\n\nmsg.payload = msg.payload + \" \" + msg.to + \" \" +\n              context.get(\"firstTimestamp\") + \" \" + \n              context.get(\"secondTimestamp\") + \" \" + \n              context.get(\"thirdTimestamp\") + \"!\";\n\nif (msg.timestamp % 2==0) {\n    return [ null, msg];\n} else {\n    return [ msg, null];\n}\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"firstTimestamp\", 0);\ncontext.set(\"secondTimestamp\", 0);\ncontext.set(\"thirdTimestamp\", 0);\n","finalize":"","libs":[],"x":384,"y":248,"wires":[["6141ebab5037dc37"],["c565b3392d60f4b7"]]}]