Node-RED/Lab Code/udpEchoServerWithTest.json
[{"id":"0f878789f06582b5","type":"tab","label":"UDP Echo Server","disabled":false,"info":"","env":[]},{"id":"033b0d4a0ead8e4c","type":"udp in","z":"0f878789f06582b5","name":"Receive","iface":"","port":"7779","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":165,"y":296,"wires":[["b34b7b8b0c154992","dacfc3fc95871e3e"]]},{"id":"dacfc3fc95871e3e","type":"delay","z":"0f878789f06582b5","name":"Wait 1 sec","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":425,"wires":[["39af92ca7c377594"]]},{"id":"39af92ca7c377594","type":"udp out","z":"0f878789f06582b5","name":"Send Back","addr":"","iface":"","port":"5555","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":691,"y":286,"wires":[]},{"id":"b34b7b8b0c154992","type":"debug","z":"0f878789f06582b5","name":"Dump Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":566,"y":197,"wires":[]},{"id":"56bf548205187961","type":"function","z":"0f878789f06582b5","name":"Add Greeting to Payload","func":"let newPayload = {\n    greeting: \"Hello!\",\n    timestamp: msg.payload,\n};\n\nlet newMsg = { \n    topic: msg.topic,  \n    payload: newPayload,   \n    _msgid: msg._msgid,\n    \n};\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":288,"y":655,"wires":[["5d3ab6a436d2ce94"]]},{"id":"6bde07330f572e4b","type":"inject","z":"0f878789f06582b5","name":"Generate Timestamp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":217,"y":553,"wires":[["56bf548205187961"]]},{"id":"5d3ab6a436d2ce94","type":"json","z":"0f878789f06582b5","name":"Convert to JSON","property":"payload","action":"str","pretty":false,"x":453,"y":718,"wires":[["4fdd2f606226abd2"]]},{"id":"4fdd2f606226abd2","type":"udp out","z":"0f878789f06582b5","name":"Send","addr":"127.0.0.1","iface":"","port":"7779","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":656,"y":639,"wires":[]},{"id":"7054af6530e27776","type":"udp in","z":"0f878789f06582b5","name":"Receive Reply","iface":"","port":"5555","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":185,"y":779,"wires":[["07e164bdeb700868"]]},{"id":"07e164bdeb700868","type":"json","z":"0f878789f06582b5","name":"Convert to JS Object","property":"payload","action":"obj","pretty":false,"x":350,"y":851,"wires":[["b847aaa26b02e7d3"]]},{"id":"b847aaa26b02e7d3","type":"debug","z":"0f878789f06582b5","name":"Dump Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":614,"y":811,"wires":[]}]